@charset "UTF-8";
#app {
    font-family: "Segoe UI", "Avenir", Helvetica, Arial, sans-serif, 微軟正黑體;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
}

* { box-sizing: border-box; margin:0; padding:0; }

.canvas{
    background-image: url("background.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#art{
    background-color: rgb(255, 255, 255);
    border: 5px solid #000000;
}

.tool{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background-color: rgb(173, 217, 223);
    border: 5px solid #000000;
}

.toolbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.action{
    margin-right:15px;
    margin-left: 15px;
    
}

.image-upload {     /*隱藏upload圖樣*/
    display: none;
}